In [1]:
#dict - { "Key" : "Value", "Key" : "Value"}

In [2]:
user1={"id":12101,"name":"Jessica","Gender":"Female","age":28,"location":"Delhi",1:"Jesscia_JJ"}

In [3]:
print(user1)
print(type(user1))

{'id': 12101, 'name': 'Jessica', 'Gender': 'Female', 'age': 28, 'location': 'Delhi', 1: 'Jesscia_JJ'}
<class 'dict'>

In [4]:
user1["id"], user1[1]

(12101, 'Jesscia_JJ')

In [5]:
#Update
user1["name"]= "Jessica Update"

In [6]:
print(user1)

{'id': 12101, 'name': 'Jessica Update', 'Gender': 'Female', 'age': 28, 'location': 'Delhi', 1: 'Jesscia_JJ'}

In [7]:
user1.update({"user2":["javeed",26,"India",11120,"Male"]})

In [8]:
print(user1)

{'id': 12101, 'name': 'Jessica Update', 'Gender': 'Female', 'age': 28, 'location': 'Delhi', 1: 'Jesscia_JJ', 'user2': ['javeed', 26, 'India', 11120, 'Male']}

In [9]:
user1["user2"][2] ="Germany"

In [10]:
print(user1)

{'id': 12101, 'name': 'Jessica Update', 'Gender': 'Female', 'age': 28, 'location': 'Delhi', 1: 'Jesscia_JJ', 'user2': ['javeed', 26, 'Germany', 11120, 'Male']}

In [11]:
user1.pop(1)

'Jesscia_JJ'

In [12]:
print(user1)

{'id': 12101, 'name': 'Jessica Update', 'Gender': 'Female', 'age': 28, 'location': 'Delhi', 'user2': ['javeed', 26, 'Germany', 11120, 'Male']}

In [13]:
#Set
data={"Javeed",26,"male",565.7,True,"mohammed",25}

In [14]:
print(data)
print(type(data))

{True, 'male', 'Javeed', 565.7, 25, 26, 'mohammed'}
<class 'set'>

In [15]:
data.add("pandey")

In [16]:
print(data)

{'pandey', True, 'male', 'Javeed', 565.7, 25, 26, 'mohammed'}

In [17]:
data.pop()

'pandey'

In [18]:
print(data)

{True, 'male', 'Javeed', 565.7, 25, 26, 'mohammed'}

In [19]:
'''
#Opertor in python
Arithmetic Operator : +,-,*,/,//,%,**
Assignment Operator : =,+=,-=,*=,/=,//=,%=,**=
Comparison Operator : ==,!=,>,<,>=,<=
Logical Operator : and,or,not
Identity Operator : is,is not
Membership Operator : in,not in
Bitwise Operator : &,|,^,~,<<,>>
'''

'\n#Opertor in python\nArithmetic Operator : +,-,*,/,//,%,**\nAssignment Operator : =,+=,-=,*=,/=,//=,%=,**=\nComparison Operator : ==,!=,>,<,>=,<=\nLogical Operator : and,or,not\nIdentity Operator : is,is not\nMembership Operator : in,not in\nBitwise Operator : &,|,^,~,<<,>>\n'

In [1]:
data1=input("enter value")
print(data1)
print(type(data1))

10
<class 'str'>

In [2]:
a=int(input("enter a value"))
b=int(input("enter b value"))
print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)

15
1
56
2097152
1.1428571428571428
1

In [ ]:
a=23

In [ ]:
a+=6 #a=a+6
print(a)

29

In [3]:
a=int(input("enter a value"))
b=int(input("enter b value"))
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [4]:
a=int(input("enter a value"))
b=int(input("enter b value"))
print(a>b and a>90)
print(a>b or a>90)

False
False

In [ ]:
a=["ashish",34,"male",True,899.90]

In [ ]:
print(34 in a)
print("ashish" not in a)
print("abhi" in a)

True
False
False

In [ ]:
user1={"id":12101,"name":"Jessica","Gender":"Female","age":28,
       "location":"Delhi",1:"Jesscia_JJ"}

In [ ]:
print("idd" in user1)

False

In [ ]:
a=[78,45,67]
b=a
c=[78,45,67]

In [ ]:
print(a is b)
print(a is c)

True
False

In [ ]:
print(id(a))
print(id(b))
print(id(c))

1985565786432
1985565786432
1985565992768

In [ ]:
#bitwise Operator &

print(5 & 3)

1

In [ ]:
#Bitwise data
# 5 - 0101
# 3-  0011
# -------------
#     0001 -1

In [ ]:
print(5 | 3)

7

In [ ]:
# 5 - 0101
# 3-  0011
# -------------
#     0111 -7

In [ ]:
# condition statement
# if, else , elif

In [ ]:
a=7
if a>50:
  print("correct, a is grater than 50")
  print("if block")

In [ ]:
a=7
if a>50:
  print("correct, a is grater than 50")
  print("if block")
else:
  print("else block")
  print("a is less than 50")

else block
a is less than 50

In [ ]:
a=7
if a>50:
  print("correct, a is grater than 50")
  print("if block")

elif a==50:
  print("correct, a is equal to 7")
  print("elif block")

elif a<50:
  print("correct, a is less than 50")
  print("elif block")

else:
  print("else block")
  print("a is less than 50")

correct, a is less than 50
elif block

In [ ]:
a=53
if a>50:
  print("correct, a is grater than 50")
  print("if block")
  if a%2==0:
    print("a is even")
  else:
    print("a is odd")

elif a==50:
  print("correct, a is equal to 7")
  print("elif block")

else:
  print("else block")
  print("a is less than 50")

correct, a is grater than 50
if block
a is odd

In [ ]:
#loop in python while and for

In [ ]:
a=0

while a<10:
  print("Hello machine learning")
  print(a)
  a+=1

Hello machine learning
0
Hello machine learning
1
Hello machine learning
2
Hello machine learning
3
Hello machine learning
4
Hello machine learning
5
Hello machine learning
6
Hello machine learning
7
Hello machine learning
8
Hello machine learning
9

In [ ]:
a=0

while a<10:

  if a==5:
    break
  print("Hello machine learning")
  print(a)
  a+=1

Hello machine learning
0
Hello machine learning
1
Hello machine learning
2
Hello machine learning
3
Hello machine learning
4

In [ ]:
a=0
while a<10:
  a=a+1
  if a==5:
    continue
  print("Hello machine learning")
  print(a)

Hello machine learning
1
Hello machine learning
2
Hello machine learning
3
Hello machine learning
4
Hello machine learning
6
Hello machine learning
7
Hello machine learning
8
Hello machine learning
9
Hello machine learning
10

In [ ]:
#FOR LOOP
user1={"id":12101,"name":"Jessica","Gender":"Female","age":28,
       "location":"Delhi",1:"Jesscia_JJ"}
data=[34,35,78,93,564,759]
data2=(89.90,"ashish",34,True)
infor = "Meachine Learning code"

In [ ]:
for b in data:
    print(b)
    print("for Loop")

34
for Loop
35
for Loop
78
for Loop
93
for Loop
564
for Loop
759
for Loop

In [ ]:
data=[34,35,78,93,564,759,0,432]

In [ ]:
even=[]
for i in data:
    if i%2==0:
        even.append(i)

In [ ]:
print(even)

[34, 78, 564, 0, 432]

In [ ]:
data=[34,35,78,93,564,759,"data",123.89,90.9]

In [ ]:
even=[]
for i in data:
    if type(i)==int:
        if i%2==0:
            even.append(i)

In [ ]:
print(even)

[34, 78, 564]

In [ ]:
even=[]
for i in data:
    if i==564:
        break
    if type(i)==int:
        if i%2==0:
            even.append(i)
print(even)

[34, 564]

In [ ]:
even=[]
for i in data:
    if i==93:
        continue
    if type(i)==int:
        if i%2==0:
            even.append(i)
print(even)

[34, 78, 564]

In [ ]:
#Functions
# to define a function we use 'def' name of function()

def add():
    print("this is add function")

In [ ]:
#calling of function and we can call it many time
add()

this is add function

In [ ]:
def add(a,b):
    print("this is add function")
    c=a+b
    print(c)

In [ ]:
add(4,5)

this is add function
9

In [ ]:
#we can define the default values incase of user absence value
def add(a,b=23):
    print("this is add function with/without user input")
    c=a+b
    print(c)

In [ ]:
add(100)

this is add function with/without user input
123

In [ ]:
add(100,50)

this is add function with/without user input
150

In [ ]:
# Global variable
d=50
def add(a,b=23):
    print("this is add function with/without user input")
    c=a+b+d
    print(c)

In [ ]:
add(1)

this is add function with/without user input
74

In [ ]:
d = 50  # This is a global variable.

def add(a, b=23):  # The function 'add' with two parameters, a and b (default value for b is 23)
    global cr  # This tells Python that 'cr' is a global variable, not local.
    print("this is add function")  # This will print every time the function is called.
    cr = a + b + d  # The function adds a, b, and d, and assigns the result to the global variable 'cr'.
    return cr  # The function returns the value of 'cr'.

In [ ]:
add(30)  # This will use the default value of 'b' (23), so the calculation will be 30 + 23 + 50 = 103

this is add function

103

In [ ]:
print(cr)

103

In [ ]:
#lambda
#lambda argument: statement

user = lambda a,b: a+b
print(user(34,35))

69

In [ ]:
user = lambda a,b: a+" "+str(b)
print(user("age",24))

age 24